@media (max-width: 480px) {
}
@media screen and (max-width: 767px) {
}

.projectName {
  text-align: center;
}

.board-header.row .col {
  border: none;
  font-size: 14px;
  display: flex;
}

.board-header.row .col span {
  display: block;
}
.board-container.row .col {
  display: none;
}
.board-container.row .show.col {
  display: block;
}
.board-container.row body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}
button {
  margin: 3px;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* project board desktop styles */
@media screen and (min-width: 768px) {
  .board-container {
    min-height: 300px;
  }
  .board-header.row .col {
    border: 2px solid #c9c7c7;
    padding: 8px 5px;
    margin: 2px;
  }
  .board-container.row .col {
    border: 2px solid white;
    background-color: #c9c7c7;
    display: block;
  }
  .data-react-beautiful-dnd-droppable {
    height: 100% !important;
  }
  .board-header.row .col span {
    display: none;
  }
  .mobile-only {
    display: none;
  }
  .right-nav {
    text-align: right;
  }
}
