body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* project board styles */
.board-container {
  min-height: 300px;
}
.board-header.row .col {
  border: 2px solid #c9c7c7;
  padding: 8px 5px;
  margin: 2px;
}
.board-container.row .col {
  border: 2px solid white;
  background-color: #c9c7c7;
}
.data-react-beautiful-dnd-droppable {
  height: 100% !important;
}
