@media (max-width: 480px) {
}
@media screen and (max-width: 768px) {
}

/*
FONTS
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Alegreya Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

.title {
  font-family: 'Coiny', cursive;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
}

.ticketTitle-button-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-group > .btn-group:not(:last-child) > .btn,
.btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
  border-radius: 0.2rem;
}
button.custom-lineheight.btn.btn-outline-secondary.btn-sm {
  line-height: 0.5;
}
button:focus {
  outline: 0;
  outline: none;
}
p {
  font-family: 'Alegreya Sans', sans-serif;
}
.projectName {
  text-align: center;
}

.board-header.row .col {
  border: none;
  font-size: 14px;
  display: flex;
}

.board-header.row .col span {
  display: block;
}
.board-container.row .col {
  display: none;
}
.board-container.row .show.col {
  display: block;
}
.board-container.row body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}
button {
  margin: 3px;
}

nav a {
  display: inline-block;
  margin: 1em;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 16px;
}
nav a:hover {
  text-decoration: none;
  font-weight: bold;
}

form {
  align-items: center;
}
form div {
  display: inline-block;
}
.assign-user {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.user-timer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
/* project board desktop styles */
@media screen and (min-width: 768px) {
  .board-container {
    min-height: 300px;
  }
  .board-header.row .col {
    border: 2px solid #d7dde8;
    padding: 8px 5px;
    margin: 2px;
  }
  .board-container.row .col {
    border: 2px solid white;
    background-color: #dadbe8;
    display: block;
  }
  .data-react-beautiful-dnd-droppable {
    height: 100% !important;
  }
  .board-header.row .col span {
    display: none;
  }
  .mobile-only {
    display: none;
  }
  .right-nav {
    text-align: right;
  }
  nav.navbar.navbar-expand-md.navbar-light.bg-light {
    padding: 0;
  }
}

nav.navbar {
  padding: 0;
}

#submit {
  margin-top: 5px;
}
.card {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 14px;
}
p.card-text {
  margin: 0;
  font-size: 14px;
  line-height: 1.5em;
}

div.card-title {
  font-family: Helvetica;
  font-size: 14px;
}

#timer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.assign-user > .btn-group button {
  margin: 0;
}

/* d3 styles */
.Axis path,
.Axis line {
  stroke: #e0e0e0;
}

.Axis text {
  font-size: 11px;
  fill: black;
}

.Axis-Bottom text {
  transform: rotate(-45deg);
  text-anchor: end;
}
a.navbar-brand {
  margin-right: 0px !important;
  margin-left: 20px;
  margin-top: 3px;
  margin-bottom: 2px;
}

#errorPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  margin: 10% 0;
  min-height: 200px;
  align-items: center;
}

.create-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  margin-top: 70px;
}
#abc {
  background: #fafafa;
  padding: 30px;
  box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  border: 3px solid #7e7a87;
  max-width: 450px;
}

#loginform,
#loginForm1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: left !important;

  align-items: left;
}

body {
  padding: 2em;
}

.loginBtn {
  box-sizing: border-box;
  position: relative;
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #fff;
  margin-top: 20px;
}
.loginBtn:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
}

.loginBtn--google {
  background: #dd4b39;
}
.loginBtn--google:before {
  border-right: #bb3f30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png')
    6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #e74b37;
}

.user-home-welcome,
.pie-chart-header {
  font-family: 'Barlow Condensed', sans-serif;
  text-align: center;
}

text {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 14px;
}
